@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* HERO SECTION STYLES */

.hero-section {
    background-color: #1F2937;
    padding: 16px 248px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.logo-header {
    color: #F9FaF8;
    font-size: 24px;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-links a,
.left p,
.right p {
    color: #E5E7EB;
    font-size: 18px;
}

.header-links a{
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 128px;
}

.left {
    width: 50%;
    gap: 16px;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
}

.left p {
    margin-top: 8px;
}

.left button {
    border: none;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    color: #F9FaF8;
    font-size: 16px;
    margin-top: 16px;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090b0;
    height: 210px;
}

/* INFORMATION SECTION STYLES */

.info-section {
    margin-top: 48px;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-container {
    display: flex;
    padding: 0 296px;
    margin-top: 48px;
    gap: 24px;
    margin-bottom: 128px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card div{
    width: 180px;
    height: 180px;
    border: 6px solid #3882F6;
    border-radius: 16px;
}

.card p {
    font-size: 18px;
    color: #787878;
}

/* QUOTE SECTION STYLES */

.quote-section {
    padding: 156px 350px;
    text-align: center;
    background-color: #E5E7EB;
}

.quote-section .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.quote-section .author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
    text-align: right;
}