@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.hero-section {
    background-color: #1F2937;
    padding: 16px 128px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.logo-header {
    color: #F9FaF8;
    font-size: 24px;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-links a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}